@font-face {
    font-family: 'Coolveltica';
    src: url('font/Coolvetica\ Rg.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

*{margin: 0; font-family: 'Coolveltica', sans-serif;}

#name{width: 100%; height: auto; font-size:3vw;}

h1, h2{display: flex; text-align: center;}

h1 { font-weight: bold; font-size: 3.5vw;}

h2 { margin-left: 14%; font-size: 2vw;}

body{background-color: #282735; color: lightsteelblue;}

.Head{width: 100%; height: auto; display: flex; justify-content: center; margin-top: 100px; margin-bottom: 80px;}

.Sob{
    width: 100%; height: auto; /*background-color: darkgray;*/
    background-image: linear-gradient(#282735, black, black, black, #282735);
    padding-top: 200px; padding-bottom: 250px;
}

.Red{
    justify-content: center;
    align-items: center;
    display: flex;
}

.Hab{width: 100%; height: auto; margin-top: 100px; margin-bottom: 65px; /*background-color: lightgreen;*/}

.subHead{width: 50%; height: auto; justify-content: center; align-items: center; /*background-color: antiquewhite; border: 1px solid black;*/ text-align: center;}

#subNome h1, h2{margin-top: 10%; text-align: center;}

#minhaFoto{ /*border-radius: 80px 80px 80px 80px;*/ border: lightsteelblue 8px groove;}

.imgHab{width: 50%;}

h3{
    margin-top: 30px; margin-left: 15%; margin-bottom: 50px;
    font-weight: bold;
    font-size: 2vw;
}

p{font-size: 1.6vw; text-align: justify; margin-left: 100px; margin-right: 100px;}

.Hab button {
  margin: 1.5%;
  border: 0px;
  width: 15%;
  height: 20vw;
  background-color: black;
  clip-path: polygon(100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%, 20% 0%, 80% 0%);
  position:relative;
  top:0;
  transition: all .5s ease-in-out;
}

.Hab button:hover{

    background: radial-gradient(black, black, lightsteelblue);
    /*background-image: linear-gradient(black, black, black, black, #919ee5);
    top:-25px*/
    width: 17%;
    height: 23vw;
}

footer{
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: black;
    color: lightsteelblue;
}

a{
    text-decoration-line: none;
    text-decoration-color: lightsteelblue;
    color: lightsteelblue;
}

.Cont{
    font-size: 1vw;
    margin: 1%;
    margin-right: 5%;
}